@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,800;1,100;1,200;1,300;1,500;1,600;1,800&display=swap');

body {
  margin: 0;
  /* font-family: "Inter"; */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* tablet styles */
@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
}

/* desktop styles */
@media screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }
}
